* {
    box-sizing: border-box;
}


.foodServices {
    font-size: 25px;
    color: #FF7546;
    font-style: italic;
}

.dedicatedChefs {
    font-size: 35px;
    font-family: cursive;
    margin: 0.5rem;
}

.chefSection {
    display: grid;
    place-items: center;
}

.chefsList {
    display: flex;
}

.chefOne {
    display: grid;
    place-items: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 10px 10px 30px 10px gray;
    border-radius: 25px;
}

.chefTwo {
    display: grid;
    place-items: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 10px 10px 30px 10px gray;
    border-radius: 25px;
}

.chefThree {
    display: grid;
    place-items: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 10px 10px 30px 10px gray;
    border-radius: 25px;
}

.ChefOneImage {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.ChefTwoImage {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.ChefThreeImage {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.chefName {
    margin: 1rem;
    font-size: 2rem;
}

.occupation {
    font-size: 1.5rem;
}

.socialContact {
    display: flex;
    margin: 1rem;
}

.alink {
    color: #FF7546;
}

.facebook {
    color: #FF7546;
    font-size: 25px;
    margin: 0rem 1rem;
}

.twitter {
    color: #FF7546;
    font-size: 25px;
    margin: 0rem 1rem;
}

.insatgram {
    color: #FF7546;
    font-size: 25px;
    margin: 0rem 1rem;
}


@media only screen and (max-width:1200px) {

    /* html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
    } */


    .chefSection {

        display: grid;
        justify-items: center;
        width: 100%;
        height: auto;
    }


    .chefsList {
        display: grid;
        place-items: center;
        width: 50%;
        height: auto;
    }

    .chefOne {
        width: 100%;
        height: auto;
    }

    .chefTwo {
        width: 100%;
        height: auto;
    }

    .chefThree {
        width: 100%;
        height: auto;
    }

}